#topo{
    background-color: #5BC3EB;
    border: 1px black solid;
}
#corpo{
    
    width: 290px;
}

#temp_top{
    display: flex;
    justify-content: space-between;
}
#img_corpo{
    margin-right: 40px;
    height: 90px;
}